<div
  class="modal fade"
  id="aiQuestionModal"
  tabindex="-1"
  aria-labelledby="aiQuestionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="aiQuestionModalLabel">
          AI로 생성하기
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="/make/<%=exam._id%>/aigen" method="post" id="aiForm">
        <div class="modal-body">
          <div class="mb-3">
            <label for="ai_num_questions" class="form-label"
              >문제 수 (1개 - 15개 사이 선택 가능)</label
            >
            <input
              type="number"
              name="num_questions"
              id="ai_num_questions"
              class="form-control"
              min="1"
              max="15"
              value="5"
              required
            />
          </div>

          <div class="mb-3">
            <label for="ai_input_data" class="form-label">학습자료</label>
            <textarea
              name="input_data"
              id="ai_input_data"
              class="form-control"
              rows="10"
              required
            ></textarea>
          </div>

          <div>
            <span class="form-label">언어 설정</span>
            <div class="form-check">
              <input
                value="Korean"
                class="form-check-input"
                type="radio"
                name="language"
                id="ai_language_kor"
                checked
                required
              />
              <label class="form-check-label" for="ai_language_kor">
                한국어
              </label>
            </div>
            <div class="form-check">
              <input
                value="English"
                class="form-check-input"
                type="radio"
                name="language"
                id="ai_language_eng"
                required
              />
              <label class="form-check-label" for="ai_language_eng">
                English
              </label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" id="aiButton" data-bs-dismiss="modal">
            추가하기
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
