<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/exams">모의고사 은행</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exams">풀기</a>
        </li>
        <% if (currentUser) {%>
        <li class="nav-item">
          <a class="nav-link" href="/make">만들기</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%=currentUser.nickname%>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">회원정보 수정</a></li>
            <li>
              <button class="btn btn-link dropdown-item" form="logout-form">
                로그아웃
              </button>
            </li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">회원가입</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<form
  action="/users/logout"
  display="none"
  method="POST"
  id="logout-form"
></form>
