<div
  class="modal fade"
  id="updateQuestionModal"
  tabindex="-1"
  aria-labelledby="updateQuestionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateQuestionModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="post" id="updateQuestionForm">
        <div class="modal-body">
          <div class="mb-3">
            <label for="question_update" class="form-label">문제</label>
            <textarea
              name="question"
              id="question_update"
              class="form-control"
              rows="3"
              required
            ></textarea>
          </div>

          <% for (let i = 0; i < 5; i++) { %>
          <div class="form-check mb-3 d-flex align-items-center g-3">
            <input
              class="form-check-input"
              type="radio"
              name="answer"
              id="radio_<%=i%>_update"
              value="<%=i%>"
            />
            <input
              class="form-control d-inline ms-2"
              type="text"
              name="options[]"
              id="options_<%=i%>_update"
              required
            />
          </div>

          <% } %>

          <div>
            <label for="explanation_update" class="form-label">해설</label>
            <textarea
              name="explanation"
              id="explanation_update"
              class="form-control"
              rows="5"
              required
            ></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-danger"
            form="deleteQuestionForm"
            id="deleteQuestionBtn"
          >
            삭제하기
          </button>
          <button class="btn btn-primary" id="updateQuestionBtn">
            수정하기
          </button>
        </div>
      </form>
      <form method="post" id="deleteQuestionForm" class="d-none"></form>
    </div>
  </div>
</div>
