<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>모의고사 풀기</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/navbar') %> <%-body %>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
