<% layout('layouts/boilerplate') %>
<div class="row">
  <div
    class="alert alert-danger col-8 offset-2 col-lg-6 offset-lg-3"
    role="alert"
  >
    <h4 class="alert-heading">Error <%=err.statusCode%></h4>
    <p class="text-wrap"><%=err.message%></p>
    <hr />
    <button class="btn btn-primary" onclick="window.history.back()">
      이전 화면으로 돌아가기
    </button>
    <a href="/" class="btn btn-primary">메인으로 돌아가기</a>
  </div>
</div>
