<% layout('layouts/boilerplate.ejs') %>
<div class="container">
  <h1><%=exam.title%> 결과</h1>
  <div class="alert alert-light" role="alert">
    <%=exam.questions.length%>문제 중 <%=points%>문제 맞히셨습니다.
  </div>

  <a href="/exams" class="btn btn-warning mb-3">돌아가기</a>
  <div class="row row-cols row-cols-lg-2 g-4">
    <% for (const [q_index, question] of exam.questions.entries()) { %>
    <div class="col">
      <%- include('../partials/resultQuestionCard', {q_index, question}) %>
    </div>
    <% } %>
  </div>
</div>
